@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-custom {
  box-shadow: 0 4px 14px 0 rgba(0, 255, 132, 0.1);
}

.doughnutPie {
  width: 130px !important;
  height: 130px !important;
}